.intro {
    padding-bottom: 35px;
    &__inner {
        display: flex;
        justify-content: space-between;
        &-content {
            width: 56%;
            border-radius: 40px;
            border-bottom-right-radius: 0;
            background-color: $main;
            position: relative;
            z-index: 3;
            padding: 95px 35px 120px 80px;
            max-width: 918px;
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 12%;
                width: 65%;
                height: 54%;
                max-width: 594px;
                max-height: 444px;
                border-radius: 40px;
                border-top-right-radius: 0;
                background-color: $primary;
                opacity: .1;
                transform: translateY(-55%) rotate(-20deg);
            }
        }
        &-form{
            background-color: $white;
            border-radius: 22px;
            box-shadow: 20px 10px 40px 0px #00000080;
            padding: 46px 70px 75px;
            position: relative;
            max-width: 620px;
            display: flex;
            flex-direction: column;
            &-inputs {
                position: relative;
                margin-bottom: 40px;
                button {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 38px;
                    height: 38px;
                    border: 1px solid #D6D6D6;
                    border-right-width: 0;
                    border-left-width: 0;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 6;
                    transform: translate(-50%, -50%);
                    background-color: $white;
                    transition: .2s ease;
                    cursor: pointer;

                    img {
                        width: 14px;
                        height: 16px;
                    }
                }
                .input {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .button {
                position: absolute;
                width: 70%;
                max-width: 340px;
                left: 50%;
                top: calc(100% - 15px);
                transform: translateX(-50%);
                font-weight: 700;
            }
            .input {
                margin-bottom: 20px;
                &.number {
                    margin-bottom: 0;
                }
            }
         
        }
        &-image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48%;
            margin-left: -4%;
            border-radius: 40px;
            img {
                @include fullImage;
                border-top-right-radius: 40px;
                border-bottom-right-radius: 40px;

            }
        }
        .input {

        }
        h1 {
            margin-bottom: 50px;
        }
    }
}
// 1560px
@mixin intro-xxxxxlg-xxxxxxlg {
    .intro {
        &__inner {
            &-content {
                padding: 65px 50px 100px 50px;

            }
            h1 {
                margin-bottom: 35px;
            }
        }
    }
}
// 1380px
@mixin intro-xxxlg-xxxxlg {
    .intro {
        &__inner {
            &-form {
                padding: 36px 40px 60px;
            }
        }
    }
}
// 1250px
@mixin intro-xlg-xxlg-extra {
    .intro {
        &__inner {
            &-content {
                padding: 40px 40px 90px 40px;
            }
        }
    }
}
// 1180px
@mixin intro-xlg-xxlg {
    .intro {
        &__inner {
            &-form {
                padding: 30px 20px 50px;
                &-inputs {
                    margin-bottom: 30px;
                }
            }
        }
    }
}
// 1024px
@mixin intro-lg-xlg {
    .intro {
        &__inner {
            &-content {
                padding: 30px 35px 80px 35px;
                border-radius: 30px;
                border-bottom-right-radius: 0;
            }
            &-form {
                padding: 20px 20px 40px;
                &-inputs {
                    margin-bottom: 20px;
                }
            }
            &-image {
                img {
                    border-top-right-radius: 30px;
                    border-bottom-right-radius: 30px;
                }
            }
            h1 {
                margin-bottom: 20px;
            }
        }
    }
}
// 930px
@mixin intro-md-lg {
    .intro {
  
    }
}
// 750px
@mixin intro-sm-md {
    .intro {
 
    }
}
// 650px
@mixin intro-sm-md-extra {
    .intro {

    }
}
// 540px
@mixin intro-xsm-sm {
    .intro {

    }
}
// 440px
@mixin intro-xxsm-xsm {
    .intro {

    }
}
.info {
    padding: 200px 0;
    &.second {
        padding: 0;
        .info__inner {
            background-color: #FBFAF3;
            border-radius: 60px;
            padding: 145px 116px 106px 45px;
            &-content {
                order: 2;
                max-width: 630px;
            }
            &-banner {
                background-color: $primary;
                max-width: 675px;
                &-image {
                    &:nth-child(n) {
                        width: 100%;
                        height: 103%;
                        bottom: unset;
                        left: unset;
                        top: -8%;
                        right: -4%;
                        box-shadow: unset;
                        padding-bottom: unset;
                        max-width: unset;
                    }
                }
            }
            h2 {
                max-width: 432px;
            }
            .button {
                font-family: $inter;
                background-color: transparent;
            }
        }
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-content {
            width: calc(50% - 20px);
            max-width: 760px;
        }
        &-banner {
            width: calc(50% - 20px);
            max-width: 716px;
            background-color: $main;
            border-radius: 40px;
            padding-bottom: 44%;
            position: relative;
            &-wrapper {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 1;
                overflow: hidden;
                pointer-events: none;
                &::before {
                    position: absolute;
                    content: "";
                    width: 74%;
                    height: 74%;
                    max-width: 532px;
                    border-radius: 50%;
                    opacity: .1;
                    top: -12%;
                    right: -20%;
                    background-color: $primary;
                }
            }
     
            &-image {
                position: absolute;
                bottom: -7%;
                left: -10%;
                width: 60%;
                padding-bottom: 77%;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0px 4px 4px 0px #00000040;
                max-width: 425px;
                border-radius: 40px;
                z-index: 3;
                &:last-child {
                    bottom: unset;
                    top: -12%;
                    left: unset;
                    right: 10%;
                    width: 55%;
                    max-width: 392px;
                    z-index: 2;
                }
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 40px;
                }
            }
        }
        h2 {
            margin-bottom: 40px;
        }
        p {
            margin-bottom: 70px;
        }
        .button {
            width: 100%;
            max-width: 340px;
            font-family: $workSans;
        }
    }
}