.footer {
<<<<<<< HEAD
    padding: 50px 0;
    background-color: #FBFAF3;
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        
        &-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 230px;
            img {
                width: 100%;
            }
        }
        hr {
            width: 3.5px;
            height: 50px;
            margin: 0 38px;
            background-color: $primary;
        }
        p {
            font-weight: 400;
            color: $black;
        }
    }
    
=======
>>>>>>> 381a40fed2214a24d5cd7d14452272b9d9e8b6ef
}
// 1380px
@mixin footer-xxxlg-xxxxlg  {
    .footer {
        &__inner {
            &-logo {
                width: 200px;
            }
            hr {
                margin: 0 30px;
            }
        
        }
    }
}
// 1024px
@mixin footer-lg-xlg   {
    .footer {
        padding: 35px 0;
        &__inner {
            &-logo {
                width: 170px;
            }
            hr {
                margin: 0 15px;
                height: 42px;
                width: 2.5px;
            }
            p {
                width: calc(100% - 200px);
            }
        }
    }
}
// 750px
@mixin footer-sm-md {
  .footer {
  }
}
// 650px
@mixin footer-sm-md-extra {
  .footer {
  }
}
// 540px
<<<<<<< HEAD
@mixin footer-xsm-sm  {
    .footer {
        padding: 30px 0;
        &__inner {
            &-logo {
                width: 120px;
            }
            hr {
                margin: 0 10px;
                height: 42px;
                width: 2px;
            }
            p {
                width: calc(100% - 160px);
                
            }
        }
        
    }
}
// 440px
@mixin footer-xxsm-xsm  {
    .footer {
        padding: 30px 0;
        &__inner {
            flex-direction: column;
            &-logo {
                width: 150px;
                margin-bottom: 10px;
            }
            hr {
                display: none;
            }
            p {
                width: 100%;
                text-align: center;
            }
        }
        
    }
=======
@mixin footer-xsm-sm {
  .footer {
  }
>>>>>>> 381a40fed2214a24d5cd7d14452272b9d9e8b6ef
}
// 390px
@mixin footer-xxxsm-xxsm {
  .footer {
  }
}

.app {
  &__inner {
    padding: 162px 0 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-content {
      width: calc(45% - 5px);
      h3 {
        margin-bottom: 13px;
        strong {
          white-space: nowrap;
        }
      }
      p {
        margin-bottom: 76px;
      }
    }
    &-banner {
      width: calc(55% - 5px);
      max-width: 766px;
      &-image {
        position: relative;
        padding-bottom: 94%;
        img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          object-fit: contain;
        }
      }
    }
  }
  &Item {
    margin-bottom: 100px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .button {
    &.primary {
      font-size: 22px;
      line-height: 26px;
      font-weight: 600;
      background-color: #e6ba0a;
      box-shadow: 4px 8px 20px rgba(230, 186, 10, 0.3);
      border-radius: 15px;
      padding: 21px 30px;
      width: 100%;
      max-width: 330px;
    }
    &.uniq {
      padding: 21px 30px;
      width: 100%;
      max-width: 330px;
      background-color: #171405;
      box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.25);
      border-radius: 15px;
    }
  }
}

// 1560px
@mixin app-xxxxxlg-xxxxxxlg {
  .app {
    &__inner {
      &-content {
        width: calc(45% - 10px);
      }
      &-banner {
        width: calc(55% - 10px);
      }
    }
  }
}

// 1380px
@mixin app-xxxlg-xxxxlg {
  .app {
    &__inner {
      &-content {
        width: calc(47% - 10px);
      }
      &-banner {
        width: calc(53% - 10px);
      }
      h3 {
        margin-bottom: 5px;
      }
      p {
        margin-bottom: 55px;
      }
    }
  }
}

// 1250px
@mixin app-xlg-xxlg-extra {
  .app {
    &__inner {
        padding: 140px 0 90px;
      &-content {
        width: calc(50% - 10px);
      }
      &-banner {
        width: calc(50% - 10px);
      }
      h3 {
        margin-bottom: 5px;
      }
      p {
        margin-bottom: 55px;
      }
    }
  }
}
// 1180px
@mixin app-xlg-xxlg {
  .app {
    &__inner {
        padding: 130px 0 80px;

      h3 {
        margin-bottom: 10px;
      }
      p {
        margin-bottom: 45px;
        font-size: 23px;
        line-height: 28px;
      }
      .button {
        &.primary {
          max-width: 300px;
          font-size: 21px;
          line-height: 27px;
        }
        &.uniq {
          max-width: 300px;
          font-size: 21px;
          line-height: 27px;
        }
      }
    }
    &Item {
      margin-bottom: 70px;
    }
  }
}
// 1024px
@mixin app-lg-xlg {
  .app {
    &__inner {
        padding: 120px 0 70px;

      p {
        margin-bottom: 30px;
        font-size: 21px;
        line-height: 27px;
      }
      .button {
        &.primary {
          max-width: 270px;
          font-size: 20px;
          line-height: 25px;
          padding: 18px 25px;
        }
        &.uniq {
          max-width: 270px;
          font-size: 20px;
          line-height: 25px;
          padding: 18px 25px;
        }
      }
    }
    &Item {
      margin-bottom: 70px;
    }
  }
}
// 930px
@mixin app-md-lg {
  .app {
    &__inner {
        padding: 100px 0 60px;

      p {
        margin-bottom: 25px;
        font-size: 20px;
        line-height: 27px;
      }
      .button {
        &.primary {
          max-width: 250px;
          font-size: 18px;
          line-height: 22px;
        }
        &.uniq {
          max-width: 250px;
          font-size: 18px;
          line-height: 22px;
        }
      }
    }
    &Item {
      margin-bottom: 70px;
    }
  }
}
// 840px
@mixin app-md-lg-extra {
  .app {
    &__inner {
        padding: 80px 0 50px;

      p {
        margin-bottom: 25px;
        font-size: 18px;
        line-height: 24px;
      }
      .button {
        &.primary {
          max-width: 250px;
          font-size: 18px;
          line-height: 22px;
        }
        &.uniq {
          max-width: 250px;
          font-size: 18px;
          line-height: 22px;
        }
      }
    }
    &Item {
      margin-bottom: 70px;
    }
  }
}
// 750px
@mixin app-sm-md {
  .app {
    &__inner {
      flex-wrap: wrap;
      &-banner {
        width: 100%;
        order: -1;
        max-width: 550px;
        margin: 0 auto 40px;
      }
      &-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      p {
        font-size: 16px;
        line-height: 22px;
      }
      h3 {
        strong {
          display: block;
        }
      }
    }
    &Item {
      width: calc(50% - 10px);
      margin-bottom: 0;
      text-align: center;
    }
  }
}
// 540px
@mixin app-xsm-sm {
  .app {
    &__inner {
      &-content {
        flex-direction: column;
      }
    }
    h3 {
      strong {
        display: inline;
      }
    }
    &Item {
      width: 100%;
      margin-bottom: 50px;
    }
    .button {
      &.primary {
        padding: 16px 20px;
      }
      &.uniq {
        padding: 16px 20px;
      }
    }
  }
}
// 440px
@mixin app-xxsm-xsm {
  .app {
    &__inner {
    }
    p {
      font-size: 14px;
      line-height: 17px;
    }
    &Item {
      width: 100%;
      margin-bottom: 50px;
    }
    .button {
      &.primary {
        padding: 14px 20px;
        font-size: 16px;
        line-height: 20px;
      }
      &.uniq {
        padding: 14px 20px;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}

.reviews {
  padding: 110px 0 180px;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #171405;
    border-radius: 40px;
    padding: 84px 30px 92px;
    h2 {
      margin-bottom: 26px;
    }
    p {
      color: $white;
      margin-bottom: 78px;
      line-height: 40px;
    }
    &-content {
      width: calc(55% - 10px);
    }
    &-banner {
      width: calc(45% - 10px);
      &-image {
        padding-bottom: 56%;
        margin: 0 auto;
        position: relative;
        img {
          width: 100%;
          height: 210%;
          position: absolute;
          left: 0;
          top: 56%;
          transform: translateY(-50%);
          object-fit: contain;
          min-height: 750px;
        }
      }
    }
    form {
      width: 100%;
      max-width: 690px;
      border: 2px solid $primary;
      box-shadow: 4px 8px 20px rgba(255, 213, 44, 0.3);
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      input {
        width: calc(100% - 198px);
        padding: 25px 30px 25px 50px;
        background-color: unset;
        font-weight: 600;
        color: $white;
        line-height: 24px;
        font-size: 20px;
        &::placeholder {
          font-weight: 600;
          color: $white;
          line-height: 24px;
          font-size: 20px;
        }
      }
      .button {
        background-color: $primary;
        box-shadow: 4px 8px 20px rgba(255, 213, 44, 0.3);
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        padding: 25px 52px;
        border-radius: 15px;
        margin-right: -2px;
      }
    }
  }
}
// 1250px
@mixin reviews-xlg-xxlg-extra {
  .reviews {
    &__inner {
      padding: 74px 30px 82px;
      &-banner {
        &-image {
          img {
            min-height: 700px;
          }
        }
      }
      form {
        .button {
          padding: 22px 45px;
        }
        input {
          padding: 22px 25px 22px 40px;
        }
      }
      p {
        font-size: 23px;
        line-height: 36px;
      }
    }
  }
}
// 1180px
@mixin reviews-xlg-xxlg {
  .reviews {
    &__inner {
      &-banner {
        &-image {
          img {
            min-height: 650px;
          }
        }
      }
      form {
        .button {
          padding: 20px 35px;
          font-size: 18px;
          line-height: 24px;
        }
        input {
          padding: 20px 20px 20px 30px;
          font-size: 18px;
          line-height: 24px;
          width: calc(100% - 64px);
          &::placeholder {
            font-size: 18px;
            line-height: 24px;
          }
        }
      }
      p {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
}
// 1024px
@mixin reviews-lg-xlg {
  .reviews {
    &__inner {
      &-banner {
        &-image {
          img {
            min-height: 600px;
          }
        }
      }
      form {
        .button {
          padding: 18px 30px;
          font-size: 16px;
          line-height: 22px;
        }
        input {
          padding: 18px 10px 18px 20px;
          font-size: 16px;
          line-height: 22px;
          &::placeholder {
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
      p {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 60px;
      }
    }
  }
}
// 930px
@mixin reviews-md-lg {
  .reviews {
    &__inner {
      padding: 64px 20px 72px;
      &-banner {
        &-image {
          img {
            min-height: 550px;
          }
        }
      }
      form {
        .button {
          padding: 18px 30px;
          font-size: 16px;
          line-height: 22px;
        }
        input {
          padding: 18px 10px 18px 20px;
          font-size: 16px;
          line-height: 22px;
          &::placeholder {
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
      p {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 60px;
      }
    }
  }
}
// 840px
@mixin reviews-md-lg-extra {
  .reviews {
    &__inner {
      padding: 54px 20px 62px;
      &-banner {
        &-image {
          img {
            min-height: 530px;
          }
        }
      }
      form {
        .button {
          padding: 16px 25px;
          font-size: 15px;
          line-height: 20px;
        }
        input {
          padding: 16px 10px 16px 20px;
          font-size: 15px;
          line-height: 20px;
          &::placeholder {
            font-size: 15px;
            line-height: 20px;
          }
        }
      }
      p {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 45px;
      }
    }
  }
}

// 750px
@mixin reviews-sm-md {
  .reviews {
    padding-top: 210px;
    &__inner {
      flex-wrap: wrap;
      padding: 0 20px 30px;
      border-radius: 30px;
      &-banner {
        width: 100%;
        margin-bottom: 40px;
        &-image {
          max-width: 280px;
          padding-bottom: 45%;
          img {
            transform: unset;
            top: unset;
            bottom: 0;
            min-height: unset;
            height: 175%;
          }
        }
      }
      &-content {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
      }
    }
    
  }
}
// 540px
@mixin reviews-xsm-sm {
  .reviews {
    &__inner {
      &-banner {
        &-image {
          img {
            height: 190%;
          }
        }
      }
      h2 {
        font-size: 35px;
        line-height: 44px;
      }
    }
  }
}
// 440px
@mixin reviews-xxsm-xsm {
  .reviews {
    &__inner {
      padding: 0 15px 30px 15px;
      border-radius: 0;
      h2 {
        font-size: 30px;
        line-height: 36px;
      }
      form {
          .button{
            font-size: 13px;
            line-height: 17px;
            padding: 14px 20px;
          }
        input {
          padding: 14px 10px 14px 15px;
          font-size: 13px;
          line-height: 17px;
        }
      }
    }
    .auto__container{
        padding: 0;
    }
  }
}

// 390px
@mixin reviews-xxxsm-xxsm {
  .reviews {
    &__inner {
        &-banner{
            margin-bottom:30px ;
        }
      h2 {
        font-size: 27px;
        line-height: 34px;
      }
      p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 35px;
      }
    }
  }
}
