.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  &.sticky  {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   animation-name: sticky;
   animation-duration: .4s;
   background-color: $white;
   box-shadow: 0px 8px 18px 0px #00000030;

  }
  &__inner {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 230px;
      img {
        width: 100%;
      }
    }
    &-buttons {
      display: flex;
      align-items: center;
      a {
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
        font-family: $workSans;
        color: $black;
      }
      .button {
        margin-left: 70px;
        font-weight: 600;
      }
    }
  }
}
// 1250px
@mixin header-xlg-xxlg-extra {
  .header {
    &__inner {
      &-logo {
        width: 200px;
      }
      &-buttons {
        a {
          font-size: 18px;
          line-height: 22px;
        }
        .button {
          margin-left: 50px;
          padding: 15px 40px;
        }
      }
    }
  }
}
// 1024px
@mixin header-lg-xlg {
    .header {
      &__inner {
        padding: 20px 0;
        &-logo {
          width: 180px;
        }
        &-buttons {
          a {
            font-size: 16px;
            line-height: 19px;
          }
          .button {
            margin-left: 30px;
            padding: 12px 30px;
          }
        }
      }
    }
}
// 750px
@mixin header-sm-md {
  .header {
    &__inner {
      &-logo {
        width: 160px;
      }
      &-buttons {
        a {
          font-size: 14px;
          line-height: 16px;
        }
        .button {
          margin-left: 20px;
          padding: 9px 26px;
          border-radius: 10px;
        }
      }
    }
  }
}
// 540px
@mixin header-xsm-sm {
    .header {
      &__inner {
        &-logo {
          width: 120px;
        }
        &-buttons {
          a {
            font-size: 12px;
            line-height: 14px;
          }
          .button {
            margin-left: 10px;
            padding: 8px 20px;
          }
        }
      }
    }
}
// 390px
@mixin header-xxxsm-xxsm {
  .header {
    &__inner {
      padding: 14px 0;
      &-logo {
        width: 110px;
      }
      &-buttons {
        a {
          font-size: 10px;
          line-height: 12px;
        }
        .button {
          margin-left: 10px;
          padding: 6px 17px;
        }
      }
    }
  }
}
@keyframes sticky {
    0% {
      top: -60px;
      opacity: 0;
    }
    100% {
      top: 0;
      opacity: 1;
    }
  }